<ion-content color="dark" [fullscreen]="true">

<div class="titulos">
  <h2 class="titulo">
    Ingrese su correo
    <p class="subtitulo">para recibir un enlace y restablecer su contraseña</p>
  </h2>
</div>

<div>
  <ion-item>
    <ion-input class="input" placeholder="Ingrese su correo"></ion-input>
    <ion-icon name="person-outline"></ion-icon>
  </ion-item>
</div>

<div class="botones">
  <ion-button >
    Enviar
  </ion-button>

  <ion-button [routerLink]="['/login']" color="danger">
    volver
  </ion-button>

</div>

</ion-content>